@inherits UmbracoViewPage

@{
    var articleList = Umbraco.ContentAtXPath("root/home/articleList").FirstOrDefault();
    var articles = articleList.Children.Where(x => x.IsVisible()).Cast<Article>();
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var article in articles)
            {
                <div class="post-preview">
                    <a href="@article.Url">
                        <h2 class="post-title">
                            @(!string.IsNullOrWhiteSpace(article.Title) ? article.Title : article.Name)
                        </h2>
                        @if (!string.IsNullOrWhiteSpace(article.Subtitle))
                        {
                            <h3 class="post-subtitle">@article.Subtitle</h3>
                        }
                    </a>
                    <p class="post-meta">
                        @Umbraco.GetDictionaryValue("Article.Posted")
                        @if (!string.IsNullOrWhiteSpace(article.AuthorName))
                        {
                            @Umbraco.GetDictionaryValue("Article.By")@Html.Raw("&nbsp;")@article.AuthorName
                        }
                        @Umbraco.GetDictionaryValue("Article.On") @article.ArticleDate.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="@articleList.Url">@Umbraco.GetDictionaryValue("ArticleList.ViewAll")</a>
            </div>
        </div>
    </div>
</div>
